

.hero-background {
    background-color: bisque;
}

.kanit {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hover-image {
    width: 100%;
    transition: transform 0.3s ease;
}

.hover-image:hover {
    transform: scale(1.05);
    opacity: 0.8;  
} 

